body {
  background-color: black;
  color: black;
}

#editor {
  height: 80vh;
  width: 90vw;
  margin: 5%;
  margin-bottom: 32px;
  margin-top: 32px;
  border-color: grey;
  border-style: solid;
}

#box {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#suggestions-box {
  color: white;
  font-family: monospace;
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin-left: 5%;
  margin-bottom: 32px;
  padding-left: 1%;
  height: 2em;
  flex-grow: 1;
  border-color: grey;
  border-style: solid;
}

#suggestions > li {
  list-style-position: inside;
  float: left;
  padding-left: 25px;
  position: relative;
}

.suggestion {
  color: rgb(125, 215, 246);
}

.suggestion:hover {
  background-color: grey;
}

#remaining {
  color: green;
  display: inline;
}

span.keyword {
  color: rgb(46, 107, 213);
}
span.identifier {
  color: lightblue;
}
span.num_literal {
  color: blue;
}
span.char_literal{
  color: orange;
}
span.operator {
  color: white;
}
span.class {
  color: green;
}
span.include {
  color: purple;
}
span.function {
  color:yellow;
}