body {
  background-color: black;
  color: black;
}

#box {
  display: flex;
  flex-direction: row;
}

#editor {
  height: 80vh;
  width: 90vw;
  margin: 5%;
  margin-top: 2%;
  border-color: grey;
  border-style: solid;
}

#suggestions-box {
  color: white;
  font-family: monospace;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin-left: 5%;
  margin-bottom: 2%;
  padding-left: 1%;
  height: 7em;
  border-color: grey;
  border-style: solid;
}

#suggestions > li {
  list-style-position: inside;
  float: left;
  padding-left: 25px;
  position: relative;
}


.suggestion {
  color: rgb(125, 215, 246);
}

.suggestion:hover {
  background-color: grey;
}

#remaining {
  color: green;
  display: inline;
}

span.keyword {
  color: rgb(46, 107, 213);
}
span.identifier {
  color: lightblue;
}
span.literal {
  color: orange;
}
span.operator {
  color: yellow;
}
span.class {
  color: red;
}
span.include {
  color: green;
}
span.function {
  color:purple;
}