body {
  background-color: black;
}

#box {
  display: flex;
  flex-direction: row;
}

#editor {
  border-style: solid;
  border-color: red;
  height: 90vh;
  width: 60vw;
  overflow-wrap: break-word;
}

#suggestions {
  display: flex;
  flex-direction: column;
}

.suggestion {
  color: rgb(125, 215, 246);
  display: block;
}

.suggestion:hover {
  background-color: grey;
}

#autocomplete-box {
  color: white;
}

#remaining {
  color: green;
  display: inline;
}

span.keyword {
  color: rgb(46, 107, 213);
}
span.identifier {
  color: lightblue;
}
span.literal {
  color: orange;
}
span.operator {
  color: yellow;
}