body {
  background-color: black;
  color: white;
}

#box {
  display: flex;
  flex-direction: row;
}

#editor {
  border-style: solid;
  border-color: red;
  height: 90vh;
  width: 60vw;
  overflow-wrap: break-word;
  color: white;
}

#suggestions {
  counter-reset: item;
  list-style-type: none;
}

#suggestions > li::before {
  display: inline-block;
  content: 'ctrl + ' counter(item, decimal) ":    ";
  counter-increment: item;
}

.suggestion {
  color: rgb(125, 215, 246);
}

.suggestion:hover {
  background-color: grey;
}

#autocomplete-box {
  color: white;
}

#remaining {
  color: green;
  display: inline;
}

span.keyword {
  color: rgb(46, 107, 213);
}
span.identifier {
  color: lightblue;
}
span.literal {
  color: orange;
}
span.operator {
  color: yellow;
}